<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
    <body>
      <h1>Paypal</h1>
        <form name="f1" action="/paypal">
            <button type="submit" style="display: flex; justify-content: center;">Pay</button>
        </form>
    </body>
</html>